<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 mb4-l center cstm-underline relative">Contattaci</h4>

  <form class="contact-us__form form flex flex-column flex-row-ns flex-wrap-ns" name="appuntamenti-web" data-netlify="true">
      <span class="form__input w-50-ns mb2 pr2-ns relative">
        <input type="text" name="name" required placeholder="Nome" id="form__name" />
        <label for="form__name">Nome</label>
      </span>

      <span class="form__input w-50-ns mb2 pl2-ns relative">
        <input type="text" name="surname" required placeholder="Cognome" id="form__surname" />
        <label class="ml2-ns" for="form__surname">Cognome</label>
      </span>

      <span class="form__input w-50-ns mb2 pr2-ns relative">
        <input type="email" name="email" required placeholder="Email" id="form__email" />
        <label for="form__email">Email</label>
      </span>

      <span class="form__input w-50-ns mb2 pl2-ns relative">
        <input type="tel" name="telephone" placeholder="Telefono" id="form__phone" />
        <label class="ml2-ns" for="form__email">Telefono</label>
      </span>

      <span class="form__input w-100 mb2 relative">
        <textarea name="message" required id="form__message" cols="30" rows="8" placeholder="Messaggio"></textarea>
        <label for="form__message">Messaggio</label>
      </span>

      <input type="submit" value="Invia">
  </form>
</div>
