{{ if not .Params.contact_entries }}
	{{ partial "map" . }}
{{ end }}
<footer class="bg-grey-1 ph3 pv3">
	<div class="footer__contacts">
		<h4 class="f4 b">Stilnovo</h4>
		<div class="f6">
			{{ partial "address" . }}<br>
			<strong>Cellulare:</strong> <a href="tel:3314617048">331 4617048</a><br>
			<strong>Telefono:</strong> <a href="tel:0510065330">051 0065330</a><br>
			<ul class="social-list">
				<li class="social dib facebook">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/stilnovoparrucchieraunisex" "svg" "icons-facebook") }}
				</li>
				<li class="social dib instagram">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/stilnovo_parrucchiera/" "svg" "icons-instagram") }}
				</li>
				<li class="social dib whatsapp">
					{{ partial "social-icon" (dict "link" "https://wa.me/+393314617048" "svg" "icons-whatsapp") }}
				</li>
			</ul>
		</div>
	</div>
	<div class="footer__open-hours">
		<h4 class="f4 b">Orario</h4>
		<div class="f6">
			{{ partial "hours" . }}
		</div>
	</div>
	<!-- <div class="footer__socials">
		<h4 class="f4 b">Seguici su Instagram</h4>
		<script src="https://apps.elfsight.com/p/platform.js" defer></script>
		<div class="elfsight-app-843351bc-2082-418a-87b9-caac3b8738ad"></div>
	</div> -->
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
