<header class="header bg-white relative z-999">
	<div class="header__inner flex justify-between items-center center">

		<!-- Social -->
		<div class="social-list flex">
			<div class="social facebook black">
				{{ partial "social-icon" (dict "link" "https://www.facebook.com/stilnovoparrucchieraunisex" "svg" "icons-facebook") }}
			</div>
			<div class="social instagram black">
				{{ partial "social-icon" (dict "link" "https://www.instagram.com/stilnovo_parrucchiera/" "svg" "icons-instagram") }}
			</div>
		</div>
	
		<!-- Logo -->
		<a href="/" class="logo db">
			<img src="/img/logo_black.png" alt="Stilnovo Parrucchiera Unisex" class="br0 db mb0 w-100"/>
		</a>
	
		<!-- Hamburger Menu -->
		<div class="menu">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	
	</div>
	
	<!-- Primary Nav -->
	<nav class="bg-white">
		<ul class="black flex justify-center flex-wrap">
			<!-- <li><a href="/products" class="no-underline db">Products</a></li>
	
			<li><a href="/values" class="no-underline db">Values</a></li>
	
			<li><a href="/post" class="no-underline db">Blog</a></li>
	
			<li><a href="/contact" class="no-underline db">Contact</a></li> -->

			<!-- Try to build dynamic menu -->
			{{ $currentPage := . }}
			{{ range where .Site.Pages "Type" "page" }}
				<li class="mb3 mb0-nm">
					<a href="{{ .RelPermalink }}" class="no-underline db {{ cond (eq $currentPage.Title .Title) "selected" "" }}">
						{{ .Title }}
					</a>
					{{ if not (eq .Slug "home") | and .Pages }}
						<ul class="pa3">
							{{ range .Pages }}
								<li class="mb3 mb0-nm">
									<a href="{{ .RelPermalink }}" class="no-underline db {{ cond (eq $currentPage.Title .Title) "selected" "" }}">
										{{ .Title }}
									</a>
								</li>	
							{{ end }}
						</ul>
					{{ end }}
				</li>
			{{ end }}
		</ul>
	</nav>
</header>
